@if (
  !loadingService.isLoadingId(`roaster-revision-history-${roasterId}`) &&
  !roasterName &&
  revisionMetadataExcerpts.length == 0
) {
  <p>Failed to load roaster.</p>
}
<h2>Revision History for Roaster "{{ roasterName }}"</h2>
<table>
  <tr>
    <th style="min-width: 90px; width: 5%">Version</th>
    <th style="min-width: 90px; width: 5%">Metadata</th>
    <th style="min-width: 200px; width: 10%">Date</th>
    <th style="min-width: 150px; width: 10%">Author</th>
    <th>Comment</th>
  </tr>

  @if (revisionMetadataExcerpts.length > 0) {
    @for (revision of revisionMetadataExcerpts; track $index) {
      <tr>
        <td>{{ revision.version ? `v${revision.version}` : "pending" }}</td>
        <td>
          @if (revision.id) {
            @if (revision.parentRevisionId) {
              <a
                [routerLink]="[
                  '/roasters',
                  roasterId,
                  'revisions',
                  revision.id,
                  revision.parentRevisionId,
                ]"
              >
                r{{ revision.id }}
              </a>
            } @else {
              <!-- Roaster ID here only keeps the URL uniform, it doesn't actually do anything when viewing an initial revision -->
              <a
                [routerLink]="[
                  '/roasters',
                  roasterId,
                  'revisions',
                  revision.id,
                ]"
              >
                r{{ revision.id }}
              </a>
            }
          } @else {
            anonymous
          }
        </td>
        <td>{{ getReadableDate(revision.updatedAt ?? revision.createdAt) }}</td>
        <td>
          @if (revision.createdBy) {
            <a [routerLink]="['/users', revision.createdBy]">
              {{ `@${revision.createdBy}` }}
            </a>
          } @else {
            anonymous
          }
        </td>
        <td>{{ revision.comment }}</td>
      </tr>
    }
  }
</table>

@if (
  revisionMetadataExcerpts.length == 0 &&
  !loadingService.isLoadingId(`roaster-revision-history-${roasterId}`)
) {
  <p>No roasters revisions found!</p>
}
