<header class="header-container">
  <div class="start">
    <button (click)="onOpenSidebar()">☰</button>
    <h1>LOGO</h1>
  </div>
  <div class="center">TODO</div>
  <div class="end">
    @if (accountService.currentUser()) {
      <button class="user-pfp" (click)="onUserMenuClick()">
        {{ accountService.currentUser()?.username }}
      </button>
      <button (click)="onSignOutClick()">Sign Out</button>
    } @else {
      <button (click)="onSignInClick()">Sign In</button>
    }
  </div>
</header>
