.header-container {
  position: sticky;
  top: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 60px;

  .start,
  .center,
  .end {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .end {
    position: relative;
  }
}

.badge {
  height: 36px;
  background-color: #ffdddd;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 999px;
}
