<h2>Roaster Manager</h2>
<p>
  Displaying
  {{ loadingService.isLoadingId(loadingKey) ? "?-? of ?" : paginationText }}
  roasters.
</p>
<app-pagination-controls
  [(page)]="paginationSignals.page.signal"
  [(pageSize)]="paginationSignals.pageSize.signal"
  [loadingId]="loadingKey"
  [allowPageSizeEdit]="true"
  [paginatedResult]="paginatedResultSignal()"
/>
@if (
  !loadingService.isLoadingId(loadingKey) &&
  !paginatedResultSignal()?.pagination
) {
  <p>Failed to load pagination data.</p>
}
<form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()" autocomplete="off">
  <app-text-input
    label="Name"
    formControlName="name"
    [errorMessages]="{
      maxlength: 'Name cannot be more than 100 characters long.',
    }"
    [showErrors]="submitted()"
  />
  <app-text-input
    label="Address"
    formControlName="address"
    [errorMessages]="{
      maxlength: 'Address cannot be more than 200 characters long.',
    }"
    [showErrors]="submitted()"
  />
  <div class="coordinate-search">
    <app-text-input
      label="Latitude"
      formControlName="lat"
      [errorMessages]="{
        min: 'Latitude must be between -90 and 90.',
        max: 'Latitude must be between -90 and 90.',
      }"
      [showErrors]="submitted()"
    />
    <app-text-input
      label="Longitude"
      formControlName="long"
      [errorMessages]="{
        min: 'Longitude must be between -180 and 180.',
        max: 'Longitude must be between -180 and 180.',
      }"
      [showErrors]="submitted()"
    />
    <app-text-input
      label="Radius"
      formControlName="radius"
      [errorMessages]="{
        min: 'Minimum radius is 0.1km',
        max: 'Maximum radius is 15000km',
      }"
      [showErrors]="submitted()"
    />
  </div>
  @if (submitted() && coordinateGroupHasError) {
    <app-error-text
      text="Latitude, Longitude, and Radius must be provided together if one of them are provided."
    />
  }
  <div>
    <button>Search</button>
    <button type="button" (click)="onResetSearch()">Reset</button>
  </div>
</form>
@if (items()[0]) {
  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%">ID</th>
        <th style="width: 20%">Name</th>
        <th style="width: 30%">Address</th>
        <th style="width: 20%">WebsiteUrl</th>
        @if (isDistanceProvided) {
          <th style="width: 20%">Distance</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (roaster of items(); track roaster.id) {
        <tr>
          <td>{{ roaster.id }}</td>
          @if (deletedRoasterIds.has(roaster.id)) {
            <td>deleted</td>
            <td>deleted</td>
            <td>deleted</td>
            @if (isDistanceProvided) {
              <td>deleted</td>
            }
          } @else {
            <td>
              <a [routerLink]="['/roasters', roaster.id]">{{ roaster.name }}</a>
            </td>
            <td>{{ roaster.locationAddress }}</td>
            <td>
              <a [href]="roaster.websiteUrl">{{ roaster.websiteUrl }}</a>
            </td>
            @if (isDistanceProvided) {
              <td>{{ roaster.distanceInKilometers?.toFixed(2) }} km</td>
            }
          }
          <td>
            <button
              (click)="showModal(roaster)"
              [disabled]="deletedRoasterIds.has(roaster.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
} @else if (!loadingService.isLoadingId(loadingKey) && !searchForm.pristine) {
  <p>No roasters found for your search!</p>
}

@if (selectedRoaster) {
  <app-modal (close)="hideModal()">
    <h2>Confirm deletion for "{{ selectedRoaster.name }}"</h2>
    <div>
      Are you sure you want to delete this Roaster? For every existing entity
      that references this roaster, their foreign key ID to the roaster will be
      set to NULL.
    </div>
    <p>TODO add a better cancel button</p>
    <button
      type="submit"
      (click)="onDeleteRoaster()"
      [disabled]="
        loadingService.isLoadingId(`delete-roaster-${selectedRoaster.id}`)
      "
    >
      Submit
    </button>
  </app-modal>
}
