<div class="tabs">
  <a [routerLink]="['/roasters']">&lt;&lt; All Roasters</a>
  @if (roastersFrameService.roasterId()) {
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['/roasters', roastersFrameService.roasterId()]"
    >
      Details
    </a>
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['/roasters', roastersFrameService.roasterId(), 'edit']"
    >
      Edit
    </a>
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="[
        '/roasters',
        roastersFrameService.roasterId(),
        'revisions',
      ]"
    >
      History
    </a>
  }
</div>
<div class="router-frame">
  <router-outlet></router-outlet>
</div>
