<div
  class="backdrop"
  [class.show]="sidebarService.isOpen()"
  (click)="sidebarService.close()"
></div>

<nav class="sidebar" [class.open]="sidebarService.isOpen()">
  <div class="start">
    <app-menu-button (menuClick)="sidebarService.close()" />
    <h1>LOGO</h1>
  </div>
  <div class="center">
    <ul>
      <app-link-button routerLink="/" [icon]="homeIcon">Home</app-link-button>
      <app-link-button routerLink="/users" [icon]="usersIcon">
        User Directory
      </app-link-button>
      <app-link-button routerLink="/restricted" [icon]="shieldIcon">
        Restricted
      </app-link-button>
      <app-link-button
        routerLink="/invalid-link-example"
        [icon]="placeholderIcon"
      >
        Non Mainframe
      </app-link-button>
      <app-link-button routerLink="/sandbox" [icon]="placeholderIcon">
        Development Sandbox
      </app-link-button>
    </ul>
  </div>
  <div class="end">FOOTER</div>
</nav>
