<div
  class="backdrop"
  [class.show]="sidebarService.isOpen()"
  (click)="sidebarService.close()"
></div>

<nav class="sidebar" [class.open]="sidebarService.isOpen()">
  <div class="start">
    <button (click)="sidebarService.close()">☰</button>
    <h1>LOGO</h1>
  </div>
  <div class="center">
    <ul>
      <app-link-button routerLink="/">Home</app-link-button>
      <app-link-button routerLink="/users">User Directory</app-link-button>
      <app-link-button routerLink="/invalid-link-example">
        Non Mainframe
      </app-link-button>
      <app-link-button routerLink="/sandbox">
        Development Sandbox
      </app-link-button>
      <app-link-button routerLink="/restricted">
        Restiricted (guard, will not load if not logged in)
      </app-link-button>
    </ul>
  </div>
  <div class="end">FOOTER</div>
</nav>
