<div class="control">
  @if (label()) {
    <label>{{ label() }}</label>
  }
  <div
    class="input-group"
    [class.is-invalid]="control.touched && control.invalid"
  >
    <input
      [formControl]="control"
      [type]="
        type() === 'password' ? (passwordVisible ? 'text' : 'password') : type()
      "
      [placeholder]="label()"
      [autocomplete]="autocomplete()"
    />
    @if (type() === "password") {
      <button type="button" (click)="togglePasswordVisibility()" tabindex="-1">
        <ng-icon
          [svg]="passwordVisible ? hidePasswordIcon : showPasswordIcon"
        />
      </button>
    }
  </div>

  @if (control.invalid && control.touched && showErrors()) {
    @for (errorKey of errorKeys; track errorKey) {
      @if (errorMessages()[errorKey]) {
        <div class="invalid-feedback">{{ errorMessages()[errorKey] }}</div>
      }
    }
  }
</div>
