input {
  outline: none;
  border: 1px black solid;
}

.is-invalid {
  border: 1px red solid;
}

.invalid-feedback {
  color: red;
}

.control {
  & > * {
    width: 100%;
  }
  label {
    line-height: 12px;
  }
  input {
    margin-top: 2px;
    padding: 8px 12px;
    border-radius: 6px;
    outline: none;
    border: 2px solid black;
    &:focus {
      border: 2px solid blue;
    }
  }
}
