@if (roaster) {
  <h1>{{ roaster.name }}</h1>
  <p>ID: {{ roaster.id }}</p>
  <p>Name: {{ roaster.name }}</p>
  <p>Alias: {{ roaster.alias }}</p>
  <p>Location: {{ roaster.location }}</p>
  <p>Website: {{ roaster.websiteUrl }}</p>
  <p>Description:</p>
  <div class="description">
    @for (paragraph of descriptionParagraphs; track $index) {
      <p>{{ paragraph }}</p>
    }
  </div>
  <ng-container *appAuth>
    <button (click)="onNavigateAddRoaster()">Edit This Roaster</button>
  </ng-container>
} @else if (loadingService.canShow(roaster)) {
  <h1>Roaster Not Found</h1>
}
