@if (roastersFrameService.roaster()) {
  <h1>{{ roastersFrameService.roaster()?.name }}</h1>
  <p>ID: {{ roastersFrameService.roaster()?.id }}</p>
  <p>Name: {{ roastersFrameService.roaster()?.name }}</p>
  <p>Alias: {{ roastersFrameService.roaster()?.alias }}</p>
  <p>Location Address: {{ roastersFrameService.roaster()?.locationAddress }}</p>
  <p>
    Latitude:
    {{ roastersFrameService.roaster()?.locationCoordinates?.latitude }}
  </p>
  <p>
    Longitude:
    {{ roastersFrameService.roaster()?.locationCoordinates?.longitude }}
  </p>
  <p>Website: {{ roastersFrameService.roaster()?.websiteUrl }}</p>
  <p>Description:</p>
  <div class="description">
    @for (paragraph of descriptionParagraphs; track $index) {
      <p>{{ paragraph }}</p>
    }
  </div>
} @else if (loadingService.canShow(roastersFrameService.roaster())) {
  <h1>Roaster Not Found</h1>
}
