<h2>User Directory</h2>
<app-pagination-controls
  [(page)]="paginationSignals.page.signal"
  [(pageSize)]="paginationSignals.pageSize.signal"
  [loadingId]="loadingKey"
  [paginatedResult]="paginatedResultSignal()"
/>
@if (
  !loadingService.isLoadingId(loadingKey) &&
  !paginatedResultSignal()?.pagination
) {
  <p>Failed to load pagination data.</p>
}
<form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()" autocomplete="off">
  <app-text-input
    label="Username"
    formControlName="username"
    [errorMessages]="{
      maxlength: 'Usernames are at most 20 characters long.',
    }"
    [showErrors]="submitted()"
  />
  <button>Search</button>
  <button type="button" (click)="onResetSearch()">Reset</button>
</form>
@if (items()[0]) {
  <ul>
    @for (user of items(); track user.id) {
      <li>{{ user.id }}, {{ user.username }}</li>
    }
  </ul>
} @else if (!loadingService.isLoadingId(loadingKey) && !searchForm.pristine) {
  <p>No users found for your search!</p>
}
