.main-container {
  display: inline-block;
  margin-top: 5px;
}

table {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.form-container {
  display: flex;
  flex-direction: row;
}

.search-bar {
  display: flex;
  gap: 8px;
}
