<div>
  <h2>User Directory</h2>
  @if (
    usersService.paginatedResultMap()[page()] &&
    usersService.paginatedResultMap()[page()].pagination
  ) {
    <app-pagination-controls
      [(page)]="page"
      [(pageSize)]="pageSize"
      [paginatedResult]="usersService.paginatedResultMap()[page()]"
    />
  } @else {
    <p>Failed to load pagination data.</p>
  }
  @if (usersService.paginatedResultMap()[page()]) {
    <ul>
      @for (
        user of usersService.paginatedResultMap()[page()].items;
        track user.id
      ) {
        <li>{{ user.id }}, {{ user.username }}</li>
      }
    </ul>
  }
</div>
