<h1>Roasters</h1>
<ng-container *appAuth>
  <button (click)="onNavigateCreate()">Add Roaster</button>
</ng-container>
@if (!loadingService.isLoadingId("roaster-directory")) {
  <p>Displaying {{ paginationText }} roasters.</p>
}
<app-pagination-controls
  [(page)]="page"
  [(pageSize)]="pageSize"
  [loadingId]="'roaster-directory'"
  [paginatedResult]="paginatedResultSignal()"
/>
@if (
  !loadingService.isLoadingId("roaster-directory") &&
  !paginatedResultSignal()?.pagination
) {
  <p>Failed to load pagination data.</p>
}
<form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()" autocomplete="off">
  <app-text-input
    label="Name"
    formControlName="name"
    [errorMessages]="{
      maxLength: 'Name cannot be more than 100 characters long.',
    }"
    [showErrors]="submitted"
  />
  <app-text-input
    label="Address"
    formControlName="locationAddress"
    [errorMessages]="{
      maxLength: 'Address cannot be more than 200 characters long.',
    }"
    [showErrors]="submitted"
  />
  <div class="coordinate-search">
    <app-text-input
      label="Latitude"
      formControlName="latitude"
      [errorMessages]="{
        min: 'Latitude must be between -90 and 90.',
        max: 'Latitude must be between -90 and 90.',
      }"
      [showErrors]="submitted"
    />
    <app-text-input
      label="Longitude"
      formControlName="longitude"
      [errorMessages]="{
        min: 'Longitude must be between -180 and 180.',
        max: 'Longitude must be between -180 and 180.',
      }"
      [showErrors]="submitted"
    />
    <app-text-input
      label="Radius"
      formControlName="radius"
      [errorMessages]="{
        min: 'Minimum radius is 0.1km',
        max: 'Maximum radius is 15000km',
      }"
      [showErrors]="submitted"
    />
  </div>
  @if (submitted && coordinateGroupHasError) {
    <app-error-text
      text="Latitude, Longitude, and Radius must be provided together if one of them are provided."
    />
  }
  <button>Search</button>
  <button type="button" (click)="onResetSearch()">Reset</button>
</form>
<!-- <div>
  <label>Name</label>
  <input [value]="name() || ''" (input)="name.set($any($event.target).value)" />
</div>
<div>
  <label>Address</label>
  <input
    [value]="locationAddress() || ''"
    (input)="locationAddress.set($any($event.target).value)"
  />
</div>
<div>
  <label>Latitude</label>
  <input
    type="number"
    [value]="latitude() || ''"
    (input)="latitude.set($any($event.target).value)"
  />
</div>
<div>
  <label>Longitude</label>
  <input
    type="number"
    [value]="longitude() || ''"
    (input)="longitude.set($any($event.target).value)"
  />
</div>
<div>
  <label>Radius</label>
  <input
    type="number"
    [value]="radius() || ''"
    (input)="radius.set($any($event.target).value)"
  />
</div> -->

@if (roasters()[0]) {
  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%">ID</th>
        <th style="width: 30%">Name</th>
        <th style="width: 30%">Address</th>
        @if (isDistanceProvided) {
          <th style="width: 30%">Distance</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (roaster of roasters(); track roaster.id) {
        <tr>
          <td>{{ roaster.id }}</td>
          <td>
            <a [routerLink]="['/roasters', roaster.id]">{{ roaster.name }}</a>
          </td>
          <td>{{ roaster.locationAddress }}</td>
          @if (isDistanceProvided) {
            <td>{{ roaster.distanceInKilometers?.toFixed(2) }} km</td>
          }
        </tr>
      }
    </tbody>
  </table>
} @else if (
  !loadingService.isLoadingId("roaster-directory") && !searchForm.pristine
) {
  <p>No roasters found for your search!</p>
}
