<div>
  <p>Displaying {{ paginationText }} users.</p>
  @if (paginatedResult) {
    <app-pagination-controls
      [(page)]="page"
      [(pageSize)]="pageSize"
      [paginatedResult]="paginatedResult"
      [allowPageSizeEdit]="true"
    />
    <table class="table">
      <thead>
        <tr>
          <th style="width: 10%">ID</th>
          <th style="width: 30%">Username</th>
          <th style="width: 40%">Active Roles</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (user of paginatedResult.items; track user.username) {
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.roles.sort().join(", ") }}</td>
            <td>
              <button (click)="showModal(user)">Edit Roles</button>
            </td>
          </tr>
        }
        <tr></tr>
      </tbody>
    </table>
  } @else {
    <p>Failed to load pagination data.</p>
  }
</div>

@if (selectedUser) {
  <app-modal (close)="hideModal()">
    <h2>Edit roles for {{ selectedUser.username }}</h2>
    @for (role of availableRoles; track $index) {
      <div
        class="form-check"
        [class.disabled]="!isAllowedToEditUser(role)"
        (click)="isAllowedToEditUser(role) && updateChecked(role)"
      >
        <input
          type="checkbox"
          class="checkbox"
          [checked]="selectedUser.roles.includes(role)"
          value="role"
          [disabled]="!isAllowedToEditUser(role)"
        />
        <label for="role">{{ role }}</label>
      </div>
    }
    <button type="submit" (click)="onSubmitRoleEdit()">Submit</button>
  </app-modal>
}
