<div class="container">
  <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" autocomplete="off">
    <div>
      <h1>CoffeeDB</h1>
      <h2>Sign in</h2>
    </div>
    <app-text-input
      label="Username"
      formControlName="username"
      autocomplete="username"
      [errorMessages]="{ required: 'Please enter a username' }"
    />
    <app-text-input
      label="Password"
      formControlName="password"
      type="password"
      autocomplete="current-password"
      [errorMessages]="{ required: 'Please enter a password' }"
    />

    @if (validationErrors) {
      <div>
        @for (error of validationErrors; track $index) {
          <p>Error: {{ validationErrors }}</p>
        }
      </div>
    }

    <div class="bottom-row">
      <app-form-cta-button
        text="Create account"
        variant="ephemeral"
        (buttonClick)="onNavigateRegister()"
        [isLoading]="loadingService.isLoadingId('signin-account')"
      />
      <app-form-cta-button
        text="Sign in"
        variant="primary"
        type="submit"
        [isLoading]="loadingService.isLoadingId('signin-account')"
      />
    </div>
  </form>
  <footer>
    <p>Help</p>
    <p>Privacy</p>
    <p>Terms</p>
  </footer>
</div>
