.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #ddd;
  padding: 40px;
  border-radius: 16px;
  min-width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.full-width-input {
  width: 100%;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
