.ephemeral {
  background-color: transparent;
  border: none;
  padding: 0 16px;
  font-weight: 500;
  border-radius: 999px;
  height: 40px;
  &:not(:disabled):hover {
    background-color: #ffeeee;
  }
}

.primary {
  background-color: #eee;
  border: none;
  padding: 0 16px;
  font-weight: 500;
  border-radius: 999px;
  height: 40px;
  &:not(:disabled):hover {
    background-color: #fff;
  }
}

button {
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
