input {
  outline: none;
  border: 1px black solid;
}

.is-invalid {
  border: 1px red solid;
}

.control {
  & > * {
    width: 100%;
  }
  label {
    line-height: 12px;
  }
}

.invalid-feedback {
  color: red;
}

.text-area-group {
  border: 2px solid black;
  &:focus-within {
    border: 2px solid blue;
  }
  display: flex;
  margin-top: 2px;
  padding: 8px 10px 8px 12px;
  background-color: white;
  border-radius: 6px;
  outline: none;

  textarea {
    flex-grow: 1;
    border: none;
    outline: none;
  }

  button {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
  }
  ng-icon {
    display: flex;
    font-size: 24px;
  }
}
