<div>
  <form
    [formGroup]="editRoasterForm"
    (ngSubmit)="onEditRoaster()"
    autocomplete="off"
  >
    <div>
      <h1>CoffeeDB</h1>
      <h2>Edit Roaster (ID: {{ roaster?.id ?? "?" }})</h2>
      <p>
        Upon submitting this edit, a moderator will review your changes and
        approve or reject it before the change is fully committed.
      </p>
    </div>
    <app-text-input
      label="Name"
      formControlName="name"
      [errorMessages]="{
        required: 'Please enter a name',
        maxlength: 'Name must be at most 100 characters',
      }"
    />
    <app-text-input
      label="Alias"
      formControlName="alias"
      [errorMessages]="{
        maxlength: 'Aliases combined must be at most 200 characters',
      }"
    />
    <app-text-input
      label="Location Address"
      formControlName="locationAddress"
      [errorMessages]="{
        maxlength: 'Location address must be at most 200 characters',
      }"
    />
    <app-text-input
      label="Location Latitude"
      formControlName="latitude"
      type="number"
      [errorMessages]="{
        requireOtherMismatch:
          'Latitude must be provided if longitude is provided.',
        min: 'Latitude must be higher than or equal to -90.',
        max: 'Latitude must be lower than or equal to 90.',
      }"
      [showErrors]="submitted"
    />
    <app-text-input
      label="Location Longitude"
      formControlName="longitude"
      type="number"
      [errorMessages]="{
        requireOtherMismatch:
          'Longitude must be provided if Latitude is provided.',
        min: 'Longitude must be higher than or equal to -180.',
        max: 'Longitude must be lower than or equal to 180.',
      }"
      [showErrors]="submitted"
    />
    <app-text-input
      label="Website URL"
      formControlName="websiteUrl"
      [errorMessages]="{
        maxlength: 'Website URL must be at most 300 characters',
        pattern: 'Website URL must be valid and start with https:// or http://',
      }"
    />
    <app-text-area
      label="Description"
      formControlName="description"
      [errorMessages]="{
        maxlength: 'Description must be at most 2000 characters',
      }"
    />
    <div>
      Description Length:
      {{ editRoasterForm.get("description")?.value?.length || 0 }}/2000
    </div>

    <app-text-area
      label="Comment (briefly describe why this change is needed)"
      formControlName="comment"
      [errorMessages]="{
        required: 'Please enter a comment',
        maxlength: 'Comment must be at most 300 characters',
      }"
      [rows]="4"
    />
    <div>
      Comment Length:
      {{ editRoasterForm.get("comment")?.value?.length || 0 }}/300
    </div>

    @if (validationErrors) {
      <div>
        @for (error of validationErrors; track $index) {
          <p>Error: {{ validationErrors }}</p>
        }
      </div>
    }

    <div class="bottom-row">
      <app-form-cta-button
        text="Edit roaster"
        variant="primary"
        type="submit"
        [disabled]="
          loadingService.isLoadingId(`edit-roaster-${id}`) || isDataUnchanged
        "
      />
    </div>
  </form>
</div>
