<div>
  <h2>Roasters Directory</h2>
  <button (click)="onNavigateAddRoaster()">Add Roaster</button>

  <app-pagination-controls
    [(page)]="page"
    [(pageSize)]="pageSize"
    [loadingId]="'roasters'"
    [paginatedResult]="paginatedResult"
  />
  @if (
    !loadingService.isLoadingId("roasters") && !paginatedResult?.pagination
  ) {
    <p>Failed to load pagination data.</p>
  }
  @if (roasters()[0]) {
    <table class="table">
      <thead>
        <tr>
          <th style="width: 10%">ID</th>
          <th style="width: 30%">Name</th>
          <th style="width: 30%">Location</th>
        </tr>
      </thead>
      <tbody>
        @for (roaster of roasters(); track roaster.id) {
          <tr>
            <td>{{ roaster.id }}</td>
            <td>
              <a [routerLink]="['/roasters', roaster.id]">{{ roaster.name }}</a>
            </td>
            <td>{{ roaster.location }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
