app-user-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
  display: block;
  flex: none;
}

.user-handle {
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 2px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: blue;
  }
}

.sign-in-button {
  display: flex;
  gap: 4px;
  border: 2px solid #ddd;
  align-items: center;
  border-radius: 999px;
  height: 36px;
  padding: 0 12px 0 10px;
  background-color: white;
  font-weight: 500;
  &:hover {
    background-color: #ffeeee;
    border-color: #ffeeee;
  }
  ng-icon {
    font-size: 20px;
  }
}
