.category {
  padding: 12px 8px;
  background: orange;
  flex-direction: column;
  display: flex;
  gap: 8px;
}

.individual {
  padding: 12px 8px;
  background: white;
}

.spinner-container {
  position: relative;
  height: 50px;
}
